$imperial-red: #fa243c;
$imperial-red2: #e72138;
$bright-navy-blue: #0071e3;
$bright-navy-blue2: rgb(4, 97, 204);
$sunglow: #ffcc00;
$sunglow2: #ffbb00;
$yellow-orange-color-wheel: #ff9500;
$black: #000000;
$gunmetal: #343a40;
$spanish-gray: #899197;
$ghost-white: #f4f6fb;
$ghost-white2: #f1f1f1;
$white: #ffffff;