@import './variables';
@import './layout';

main {
  min-height: 100vh;
  @include flex-justify__center();
}

#api {
  width: 100%;
  @include flex-justify__center();
}

#api-container {
  @include flex-justify__around();
  width: 90%;
  background: $white;
  box-shadow: 0 10px 40px -1px rgba(0, 0, 0, 0.103);
  padding: 6rem 2rem;
  margin-top: 4rem;
  border-radius: 2rem;
}

// Forms
.form-container {
  width: 30%;
}

.form-group {
  @include flex-column-items__start();
  width: 100%;
}

.api__list {
  margin-top: 4rem;
}

// API key manage
#api-key-manager {
  width: 60%;
  @include column-justify__center-items__center();
}

#title-box {
  width: 100%;
  @include flex-justify__start-items__center();
  @include grid();
  background: $ghost-white;
  padding: 1.5rem 3rem;
  margin: 2rem 0;
  border-radius: 1.5rem;

  span {
    font: {
      size: 1.8rem;
      weight: 500;
    }
  }
}

ul {
  width: 100%;
}
